.dex-footer {
  padding: 1rem 2rem;
  border-top: 1px solid #e0e0e0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-color);
  color: var(--primary-color);
  border-top: 1px solid var(--light-bg);
}

.dex-price-info {
  display: flex;
  gap: 1rem;
  color: #666;
  font-size: 0.9rem;
  font-weight: bold;
}

.dex-copyright {
  color: #666;
  font-size: 0.8rem;
}
