:root {
  --primary-color: #df7758;
  --bg-color: #171b29;
  --light-bg: #2a2f45;
  --text-light: #ccc;
  --text-muted: #888;
}

.dex-app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);
  color: var(--text-light);
}

.dex-main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
