.dex-swap-card {
  background-color: #f8f8f8;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  padding: 2rem;
  max-width: 450px;
  width: 100%;
}

.dex-section-title {
  margin: 0 0 1rem 0;
  color: #333;
  font-size: 1rem;
}


.dex-token-input {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  background-color: #f0f0f0;
  border-radius: 12px;
  padding: 1rem;
}

.dex-token-input input{
  color: #333;
}

.dex-token-input label {
  margin-bottom: 5px;
  font-weight: 500;
  color: #333;
}



.dex-token-amount {
  width: 100%;
  border: none;
  background: none;
  font-size: 1.5rem;
  outline: none;
  color: #333;
}

.dex-swap-button {
  color: white;
  border: none;
  padding: 0.8rem;
  border-radius: 8px;
  width: 100%;
  margin: 1rem 0;
  font-weight: 500;
  cursor: pointer;
  background-color: var(--primary-color);
}

.dex-swap-button:hover {
  background-color: #df7858b1;
}

.dex-rate-info {
  text-align: center;
  font-size: 0.9rem;
  margin: 1rem 0;
  padding: 0.5rem;
  border-radius: 8px;
  background-color: #f0f0f0;
  color: #333;
}

.dex-response-msg {
  margin-top: 20px;
  color: #333;
  font-weight: bold;
}
.dex-swap-card .dex-section-title{
  color: #333;
}